networks:
  polymind_net:
    external: true

services:
  polymind:
    image: ${ACCOUNT_ID}.dkr.ecr.${AWS_REGION}.amazonaws.com/wad-law/polymind:latest
    container_name: polymind
    restart: unless-stopped
    env_file: .env
    networks:
      - polymind_net
